<div class="data-container"><slot /></div>

<style lang="scss">
  .data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 1rem;
    width: 220px;
  }
</style>
