---
import TextData from "./TextData.astro";

type Props = { value: number };
const { value } = Astro.props;
---

<div class="container">
  <meter min="0" max="100" value={value} title="relative humidity %"></meter>
  <div>
    <label>humidity:</label><br />
    <TextData>{value}%</TextData>
  </div>
</div>

<style>
  div.container {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 100px;
  }
  label {
    font-size: 0.75rem;
  }
  meter {
    transform: rotate(-90deg) translate(20px, 14px);
    width: 50px;
  }
  meter::-webkit-meter-optimum-value {
    background: #0ac2ff;
  }
</style>
