---
type Props = {
  style?: { [key: string]: any };
};
const { style } = Astro.props;
---

<span style={style}><slot /></span>

<style>
  span {
    color: #6be89f;
    font-family: Doto;
  }
</style>
