---
import TextData from "./TextData.astro";

type Props = { value: number };
const { value } = Astro.props;
---

<div class="container">
  <meter
    min="0"
    max="11"
    low="3"
    high="6"
    optimum="2"
    value={value}
    title="uv index"></meter>
  <div>
    <label>UV index:</label><br />
    <TextData>{value}</TextData>
  </div>
</div>

<style>
  div.container {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 100px;
  }
  label {
    font-size: 0.75rem;
  }
  meter {
    transform: rotate(-90deg) translate(20px, 14px);
    width: 50px;
  }
  meter::-webkit-meter-optimum-value {
    background: #52ffb1;
  }
  meter::-webkit-meter-suboptimum-value {
    background: #cbff53;
  }
  meter::-webkit-meter-even-less-good-value {
    background: #fe7373;
  }
</style>
