---
import type {
  HourlyForecastItem,
  DailyForecastItem,
  ForecastData,
} from "../util/weather-data-types";
import DailyForecast from "./DailyForecast.astro";
import HourlyForecast from "./HourlyForecast.astro";

type Props = {
  hourly: HourlyForecastItem[];
  daily: DailyForecastItem[];
  timezone: ForecastData["timezone"];
};

const { hourly, daily, timezone } = Astro.props;
---

<div class="forecast-container">
  <h3>Next 12 Hours</h3>
  <div class="hourly-forecast-container">
    {
      hourly
        .slice(0, 13)
        .map((data) => <HourlyForecast data={data} timezone={timezone} />)
    }
  </div>
  <h3>Next 7 Days</h3>
  <div class="daily-forecast-container">
    {
      daily.map((data, index) => (
        <DailyForecast
          data={data}
          label={index === 0 ? "Tomorrow" : undefined}
          timezone={timezone}
        />
      ))
    }
  </div>
</div>

<style lang="scss">
  .forecast-container {
    max-width: calc(100vw - 2rem);
    overflow-x: auto;
  }
  .hourly-forecast-container {
    display: flex;
    flex-direction: row;
  }
  .daily-forecast-container {
    display: flex;
    flex-direction: row;
  }
</style>
