---

---

<script>
  // let areas: GqlArea[] = [];

  // const input: HTMLInputElement | null =
  //   document.querySelector("input.area-input");
  // input?.addEventListener("change", async (event) => {
  //   //@ts-ignore
  //   const input = event.target?.value;
  //   console.log(input);

  //   if (input?.length > 2) {
  //     const response = await fetch(
  //       // @ts-ignore
  //       `${import.meta.env.PUBLIC_API_URL}/api/search.json?input=${input}`
  //     );
  //     areas = await response.json();
  //     console.log(areas);
  //   }
  // });
</script>

<div>
  <input
    class="area-input"
    name="input"
    type="search"
    list="available-areas"
    hx-get="/api/search.json"
    hx-target="#search-results"
  />
  <div id="search-results"></div>
</div>

<style lang="scss"></style>
