---

---

<script>
  import type { GqlArea } from "../pages/api/search.json";

  const input: HTMLInputElement | null =
    document.querySelector("input.area-input");
  input?.addEventListener("change", async (event) => {
    //@ts-ignore
    const input = event.target?.value;
    console.log(input);

    if (input?.length > 2) {
      const response = await fetch(
        // @ts-ignore
        `${import.meta.env.PUBLIC_API_URL}/api/search.json?input=${input}`
      );
      const areas: GqlArea[] = await response.json();
      console.log(areas);
    }
  });
</script>

<div>
  <input class="area-input" type="text" />
</div>

<style lang="scss"></style>
