<div>
  <input
    class="area-input"
    name="input"
    type="search"
    hx-get="/api/search"
    hx-target="#search-results"
  />
  <ul id="search-results"></ul>
</div>

<style lang="scss">
  .search-results {
  }
</style>
